body {
   background-image: url("../images/universe background.jpg");
   background-size:cover;
   vertical-align: middle;
}

#container {
  width: 45%;
  padding: 10px;
  margin: 0 auto;
}

.introduction {
  background-color:rgba(0,0,0,0.5);
  border-style: groove;
  border-color: grey;
  text-align: center;
  margin-top: 5%;
  margin-left: 50%;
  width: 350px;
  transform: translateX(-50%);
}

@media (min-width: 420px) {
  .introduction {
    width: 500px;
  }
}

.introduction h1 {
  color: #ffffff;
}
.introduction p {color:#ffffff;}

.button {
  text-align: center;
  color: #ffffff;}
