body {
   background-image: url("../images/universe background.jpg");
   background-size:cover;
   vertical-align: middle;
}

#container {
  width: 45%;
  padding: 10px;
  margin: 0 auto;
}

.introduction {
  background-color:rgba(0,0,0,0.5);
  border-style: groove;
  border-color: grey;
  text-align: center;
}

.introduction h1 {
  color: #ffffff;
}

.button {
  text-align: center;
  color: #ffffff;


}

.introduction p {
  color: #ffffff;
}
